.page-content.sign-up-content {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 400px;
  margin: 0 auto;
}

.page-content.sign-up-content .mdl-card {
  margin: 0 auto;
  width: 100%;
}

.page-content header,
.page-content .mdl-card .mdl-card__title {
  text-align: center;
}

.page-content .mdl-card .mdl-card__title h3 {
  margin: 0 auto;
}